<div class="container-fluid mt-5  card-body shadow-lg animated fadeIn fast ">
    <div class="card-body animated fadeIn">

        <div class="mb-3 p-2 shadow">
            <div class="row ">
                <div class="col-md-4 p-5 d-flex justify-content-center">
                    <img class="card-img-top" src="assets/img/Rappi_logo.png" alt="Card image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Data Scientist</h5>
                        <p class="card-text"><small class="text-muted">Septiembre-2019 | Actualidad</small></p>
                        <p class="card-text">It's a broader card with text below as a natural lead-in to extra content.
                            This content is a little longer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>