<div class="container-fluid mt-5  card-body shadow-lg animated fadeIn fast ">
    <div class="card-body animated fadeIn">

        <div class="mb-3 p-2 shadow">
            <div class="row ">
                <div class="col-md-4 p-5 d-flex justify-content-center">
                    <img class="card-img-top" src="assets/img/prapse.jpg" alt="Card image" height="100px">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">SNIIM</h5>
                        <p class="card-text"><small class="text-muted">Abril-2019 </small></p>
                        <p class="card-text">Este es el <i>Programa para el Restablecimiento del Abasto Privado en Situaciones de Emergencia</i> proyecto desarrollado en la <i>Secretaria de Economia </i>, el objetivo es poder generar 
                            datos estadisticos de zonas en situaciones de riesgo.
                       </p>
                       <p>
                        Estos datos se obtienen por medio de un mapa interactivo de la Republica Mexicana, se pueden usar las herramientas de dibujo del mismo mapa para delimitar la zona de estudio, en caso de tener algun cono de proyeccion 
                        como por ejemplo los creados por el <a href="https://www.nhc.noaa.gov/">NOOA</a> es posibloe agregar el cono para obtener los datos estadisticos
                       </p>
                    </div>
                </div>
            </div>
            <iframe src="http://www.atlasnacionalderiesgos.gob.mx/SE-CENAPRED/" width="100%" height="600px" allow="fullscreen"></iframe>
        </div>
        <div class="mb-3 p-2 shadow">
            
        </div>
        
    </div>
</div>