<body class="profile-page">
    <div class="page-header header-filter" data-parallax="true">
    </div>
    <div class="main main-raised">
        <div class="profile-content">
            <div class="">
                <div class="row">
                    <div class="col-md-9 ml-auto mr-auto">
                        <div class="profile container-fluid">
                            <div class="avatar">
                                <img class="rounded-circle" src="assets/img/Profile.jpg">
                            </div>
                            <div class="name p-2">
                                <h3>J. Alberto Ramos R.</h3>
                                <h6>Data Scientist | Full Stack Developer</h6>
                            </div>
                            <div class="d-flex justify-content-around navbar-light bg-white">
                                <div class="p-2">
                                    <li class="navbar-nav nav-link" routerLinkActive="active">
                                        <a class="nav-link" [routerLink]="['Experience']">Experiencia</a>
                                    </li>
                                </div>
                                <div class="p-2">
                                    <li class="navbar-nav nav-link" routerLinkActive="active">
                                        <a class="nav-link" [routerLink]="['proyects']">Proyectos</a>
                                    </li>
                                </div>
                                <div class="p-2">
                                    <li class="navbar-nav nav-link" routerLinkActive="active">
                                        <a class="nav-link" [routerLink]="['courses']">Cursos</a>
                                    </li>
                                </div>
                                <div class="p-2">
                                    <li class="navbar-nav nav-link" routerLinkActive="active">
                                        <a class="nav-link" [routerLink]="['about']">Sobre mi</a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>